@import 'styles/variables';

.header {
  padding: 60px 20% 20px 20%;

  h1 {
    font-size: $font-size--xl;
    font-weight: $font-weight--bold;
  }

  @media #{$media-tablet} {
    padding: 60px 15% 20px 15%;
  }

  @media #{$media-mobile} {
    padding: 40px 40px 20px 40px;

    h1 {
      font-size: $font-size--lg;
    }
  }

  @media #{$media-mobile--sm} {
    padding: 40px 20px 20px 20px;
  }
}
