@import 'styles/variables';

.header {
  width: 40%;
  margin: 0 auto;
  padding: 60px 0 20px 0;

  h1 {
    font-size: $font-size--xl;
    font-weight: $font-weight--bold;
  }

  @media #{$media-desktop} {
    width: 60%;
  }

  @media #{$media-tablet} {
    width: 70%;
  }

  @media #{$media-mobile} {
    width: 80%;
    padding-top: 40px;

    h1 {
      font-size: $font-size--lg;
    }
  }

  @media #{$media-mobile--sm} {
    width: calc(100% - 40px);
  }
}
