@import 'styles/variables';

.main-content {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 40px;

  @media #{$media-desktop} {
    width: 60%;
  }

  @media #{$media-tablet} {
    width: 70%;
  }

  @media #{$media-mobile} {
    width: 80%;
  }

  @media #{$media-mobile--sm} {
    width: calc(100% - 40px);
  }
}
