/* Typography variables */
$font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
$font-weight--normal: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-size--xs: 12px;
$font-size--sm: 14px;
$font-size--base: 15px;
$font-size--md: 22px;
$font-size--lg: 28px;
$font-size--xl: 32px;

/* Color Variables */
$white: #ffffff;
$black: #000000;
$gray: #f0f0f0;
$error-color: #e53e3e;
$dark-gray: #718096;
$text-dark: #1a202c;
$blue--500: #2b6cb0;
$blue--600: #2c5282;
$blue--700: #2a4365;

/** Border variables **/
$border-radius--sm: 4px;
$border-radius--md: 6px;
$border-radius--lg: 8px;

/* Media query variables */
$media-desktop: 'only screen and (max-width : 1200px)';
$media-desktop--sm: 'only screen and (max-width : 1024px)';
$media-tablet: 'only screen and (max-width : 768px)';
$media-mobile: 'only screen and (max-width : 600px)';
$media-mobile--sm: 'only screen and (max-width : 480px)';
