@import 'styles/variables';
@import 'styles/mixins';

.prompt-form {
  @include flex(column, flex-end);

  &__label,
  &__textarea {
    width: 100%;
    margin-bottom: 6px;
  }

  &__label {
    font-weight: $font-weight--bold;
  }

  &__textarea {
    min-height: 150px;
    min-width: 100%;
    max-width: 100%;
    padding: 8px 12px;
    font-size: $font-size--base;
    border-radius: $border-radius--sm;
    font-family: $font-family;
  }

  &__error {
    margin-bottom: 8px;
    color: $error-color;
  }
}
