@import 'styles/variables';
@import 'styles/mixins';

.response-list {
  margin-top: 24px;

  &__header {
    margin-bottom: 16px;
    font-size: $font-size--md;
    font-weight: $font-weight--bold;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}
